@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #eca013;
    --color-background-light: #f8f7f6;
    --color-background-dark: #221c10;
    --font-family-display: "Inter", sans-serif;
}

@layer base {
    body {
        font-family: "Inter", sans-serif;
    }
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}